body {
    background-color: #fffffe;
}

h1,
nav {
    background-color: #2d334a;
    color: #fffffe;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

nav {
    padding: 15px;
    padding-bottom: 50px;
}

a {
    color: #fffffe;
    text-decoration: none;
}

a:hover {
    color: #ffd803;
}

h2,
p {
    text-align: left;
    background-color: #2d334a;
    color: #fffffe;
    padding: 15px;
    border-radius: 10px;
}

p {
    letter-spacing: .5px;
}

.turtle {
    width: 800px;
    height: 533px;
    padding: 20px;
    padding-bottom: 80px;
}

.unicorn {
    width: 700px;
    height: 560px;
    padding: 20px;
}

@media (min-width: 500px) {
    body {
        background-color: #ffd803;
    }

    p {
        font-weight: bolder;
        font-size: 150%;
    }

    a {
        color: #bae8e8;
        font-size: 20px;
        text-decoration: underline;
    }

    .turtle {
        width: 400px;
        height: 267px;
    }

    .unicorn {
        width: 404px;
        height: 324px;
    }
}

@media (min-width: 768px) {
    body {
        background-color: #bae8e8;
    }

    a {
        color: #fffffe;
        font-size: 100%;
        text-decoration: none;

    }

    .turtle {
        width: 600px;
        height: 400px;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: #2d334a;

    }

    h2,
    p {
        background-color: #ffd803;
        color: #2d334a;
    }

    p {
        font-weight: 100;
        font-size: 100%;
    }

    a {
        color: #fffffe;
        font-size: 100%;
        text-decoration: none;
    }

    .turtle {
        width: 800px;
        height: 533px;
    }

    .unicorn {
        width: 700px;
        height: 560px;
    }

}